---
const { href, class: className } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`px-6 py-3 cursor-pointer rounded-full text-[#BDAB87] border-solid shadow-[1px_4px_8px_#00000090,inset_1px_1px_4px_#bdab87] [border-image:linear-gradient(to_bottom,rgb(212,190,153),rgba(212,190,153,0))_1] [background:linear-gradient(180deg,rgba(200,170,111,0.15)_0%,rgba(200,170,111,0)_100%)] ${className} hover:scale-110 transition-transform duration-300 ease-in-out`}
>
  <div
    style="opacity: 0.7; background: linear-gradient(0deg, rgba(189,171,135,0.1) 0%, rgba(255,255,255,1) 40%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
  >
    <slot />
  </div>
</a>
