<div class="flex flex-col gap-4 mt-[-100px] py-[50px] mask" id="game">
  <img
    src="/images/tboa_logo.png"
    alt="The Book of Aaru logo"
    class="w-[150px] mx-auto mt-[220px]"
  />
  <h1 class="text-center text-5xl font-arkhip game-info-title">Game Info</h1>
  <p
    class="text-center text-gray-300 my-2 max-w-lg mx-auto text-lg font-cagliostro"
  >
    Embark on an epic journey in The Book of Aaru, an action-packed rogue-lite
    game where ancient Egyptian mythology meets advanced sci-fi.
  </p>
  <div
    class="flex flex-row max-w-4xl mt-10 mx-auto gap-10 text-white text-lg font-cagliostro"
  >
    <div class="w-[50%] flex flex-col gap-4">
      <img
        src="/images/emily_rounded.png"
        alt="Game Info 1"
        class="self-end w-20 h-20"
      />
      <p class="text-right text-gray-300">
        Play as Emily Sands, a cursed explorer navigating intricate trap
        corridors that demand diverse skills and strategic adaptability.
        Inspired by games like Hades and Curse of the Dead Gods, this game
        features active meta-progression, rewarding exploration and
        environmental destruction.
      </p>
    </div>
    <div class="w-[50%] flex flex-col gap-4">
      <img
        src="/images/emily_cat_rounded.png"
        alt="Game Info 1"
        class="w-20 h-20"
      />
      <p class="text-gray-300">
        Utilize unique perks and upgrades that turn time-slowing into a powerful
        weapon. Each run offers new stories and choices, bringing you closer to
        becoming a legend.
      </p>
    </div>
  </div>
</div>

<style>
  .game-info-title {
    background: linear-gradient(
      192.29deg,
      #bdab87 26.47%,
      #73603f 95.9%,
      #342812 155.97%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mask {
    background: #0c0c0e no-repeat;
    background-size: cover;
    mask-image: url("/images/background_distorted.png");
    mask-repeat: no-repeat;
  }
</style>
