---
import "../styles/tailwind.css";
import PrimaryButton from "./PrimaryButton.astro";
import Navigation from "./Navigation.astro";
---

<header
  id="header"
  class="text-white text-center w-full bg-cover bg-top"
  style="background-image: url(/images/header_bg.png); background-size: cover;"
>
  <Navigation />
  <div class="relative h-[700px] overflow-hidden">
    <div
      class="absolute left-[200px] top-[100px] rounded-xl overflow-hidden shadow-lg"
    >
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/4nUWiebkEOw"
        title="The Book of Aaru Trailer"
        allowfullscreen
      ></iframe>
    </div>
    <div
      class="absolute right-[200px] top-[100px] flex flex-col gap-4 justify-center items-center max-w-[550px] bg-black/50 backdrop-blur-sm p-10 rounded-xl shadow-lg"
    >
      <h1
        class="text-white text-5xl font-arkhip"
        style="background: linear-gradient(192.29deg, #BDAB87 26.47%, #73603F 95.9%, #342812 155.97%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
      >
        The Book of Aaru
      </h1>
      <p
        class="text-gray-300 text-lg font-cagliostro my-4"
      >
        The Book of Aaru is out now on Steam! Dive into a rogue‑lite adventure
        where ancient Egyptian mythology meets advanced sci‑fi. Purchase your
        copy today.
      </p>
      <div class="flex flex-row gap-4">
        <PrimaryButton
          href="https://store.steampowered.com/app/2092970/The_Book_of_Aaru/"
          className="w-min"
        >
          <div class="flex flex-row gap-2 items-center">
            <span>Buy on Steam</span>
            &rarr;
          </div>
        </PrimaryButton>
      </div>
    </div>
  </div>
</header>
