<div class="flex flex-col gap-4" id="studio">
  <h1 class="mt-[200px] text-center text-5xl font-arkhip newsletter-title">
    Studio
  </h1>
  <div class="flex flex-row mx-20 mt-[100px]">
    <div class="w-1/4">
      <img src="/images/logo.png" alt="Amenti Studio logo" class="w-[200px]" />
    </div>
    <div class="w-3/4">
      <h1 class="text-left text-xl font-arkhip text-gray-300 mb-4">
        Our Story
      </h1>
      <div class="flex flex-row gap-8 w-full">
        <div class="text-white w-1/3">
          <img
            src="/images/story_1.png"
            alt="Story point #1"
            class="ml-[-20px] w-full"
          />
          <h2 class="text-xl mt-[-60px] mb-2 font-arkhip text-gray-300">
            2021
          </h2>
          <p class="text-gray-300 text-md font-cagliostro">
            Amenti Studio began as a small startup in 2021 with one investor and
            one developer. They immediately embarked on an ambitious project to
            create an A-AA roguelite game.
          </p>
        </div>
        <div class="text-white w-1/3">
          <img
            src="/images/story_2.png"
            alt="Story point #2"
            class="ml-[-20px] w-full"
          />
          <h2 class="text-xl mt-[-60px] mb-2 font-arkhip text-gray-300">
            2022
          </h2>
          <p class="text-gray-300 text-md font-cagliostro">
            After some planning and learning, the project, titled The Book of
            Aaru, was initiated in 2022 with a team of four. Since then, Amenti
            Studio has occasionally hired part-time workers to assist with
            sound, UI, and other tasks.
          </p>
          <p class="text-gray-300 text-md mt-10 font-cagliostro">
            Although these part-time workers are not part of the core team, they
            are considered a stable and integral part of the studio.
          </p>
        </div>
        <div class="text-white w-1/3">
          <img
            src="/images/story_3.png"
            alt="Story point #3"
            class="ml-[-20px] w-[112px]"
          />
          <h2 class="text-xl mt-[-60px] mb-2 font-arkhip text-gray-300">
            2024
          </h2>
          <p class="text-gray-300 text-md font-cagliostro">
            The Book of Aaru is Amenti's first project, and we pour all our
            passion and effort into it. The studio itself was founded by one man
            with a dream to create video games, and that same passion drives our
            work today.
          </p>
        </div>
      </div>
      <div class="flex flex-col mt-[100px]">
        <h2 class="text-xl font-arkhip text-gray-300">Our ideology</h2>
        <p class="text-gray-300 text-md font-cagliostro mt-4">
          We believe that fostering a space for highly motivated individuals,
          regardless of their recognition, is key to achieving success.
          High-quality development isn't the exclusive domain of large studios
          or well-known firms. Our goal is to join the ranks of the industry’s
          best, and we're well on our way! We are studio based in Czech Republic
          and we are proud to be influenced by cultural impact of Central
          Europe.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .newsletter-title {
    background: linear-gradient(
      192.29deg,
      #bdab87 26.47%,
      #73603f 95.9%,
      #342812 155.97%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--shadow-glow);
  }
</style>
